.jq-checkbox,
.jq-radio {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.jq-checkbox input,
.jq-radio input {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 0; }

.jq-file {
  position: relative;
  display: inline-block;
  overflow: hidden; }

.jq-file input {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 100px;
  line-height: 1em; }

.jq-file__name {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis; }

.jq-selectbox,
.jq-select-multiple {
  position: relative;
  display: inline-block; }

.jq-selectbox select,
.jq-select-multiple select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0; }

.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.jq-selectbox {
  z-index: 10 !important; }

.jq-selectbox.opened {
  z-index: 11 !important; }

.jq-selectbox__select {
  position: relative; }

.jq-selectbox__select-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.jq-selectbox__dropdown {
  position: absolute; }

.jq-selectbox__search input {
  -webkit-appearance: textfield; }

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none; }

.jq-selectbox__dropdown ul {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch; }

.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.jq-number {
  display: inline-block; }

.jq-number__field input {
  -moz-appearance: textfield;
  text-align: left;
  /* для Opera Presto */ }

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0;
  /* в каких-то браузерах присутствует отступ */
  -webkit-appearance: none; }

.jq-checkbox,
.jq-radio {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  background: none;
  cursor: pointer;
  overflow: visible !important;
  vertical-align: top;
  background: url(../images/check.svg) no-repeat;
  background-size: contain; }
  .jq-checkbox:before,
  .jq-radio:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: url(../images/check2.svg) no-repeat;
    background-size: contain;
    opacity: 0; }

.jq-radio {
  border: none;
  background: url(../images/radio.svg) no-repeat;
  background-size: contain; }
  .jq-radio:before {
    background: url(../images/radio2.svg) no-repeat;
    background-size: contain; }

.jq-checkbox.disabled,
.jq-radio.disabled {
  opacity: .55; }

.jq-checkbox.checked:before,
.jq-radio.checked:before {
  opacity: 1; }

.jq-file {
  width: 270px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }

.jq-file input {
  cursor: pointer; }

.jq-file__name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 0 80px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
          box-shadow: inset 1px 1px #F1F1F1;
  font: 14px/32px Arial, sans-serif;
  color: #333; }

.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  border-radius: 0 4px 4px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -o-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF; }

.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
  opacity: 0.5;
  pointer-events: none; }

.jq-file {
  position: relative;
  padding-left: 20px;
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 16px;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none; }
  .jq-file:before {
    margin-top: -8px;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    background: url(../images/file_ic.svg) no-repeat;
    background-size: contain; }

.jq-file__name {
  display: none; }

.jq-file__browse {
  position: relative;
  display: inline-block;
  top: 1px;
  right: 1px;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  white-space: nowrap;
  border: none;
  outline: none;
  background: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-shadow: none;
  -webkit-text-shadow: none; }

.jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0;
  text-align: center; }

.jq-number__field {
  width: 100%; }

.jq-number__field input {
  padding: 0;
  width: 140px;
  height: 40px;
  outline: none;
  font-family: "Inter";
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-align: center;
  background: transparent;
  border: 2px solid #F0F0F0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px; }

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #F0F0F0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: all 0.15s ease 0s;
  -moz-transition: all 0.15s ease 0s;
  -webkit-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px; }

.jq-number__spin.minus {
  left: 0;
  right: auto; }

.jq-number__spin.minus:after, .jq-number__spin.plus:after {
  padding: 0 0 0 1px;
  content: '-';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 35px;
  color: #000000;
  text-align: center; }

.jq-number__spin.plus:after {
  content: '+';
  line-height: 38px; }

.jq-number__spin:hover {
  border-color: #F04930; }

.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
  opacity: 0.5;
  pointer-events: none; }

/* Default Selectbox */
.select__default.jq-selectbox {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  cursor: pointer; }

.select__default .jq-selectbox__select {
  padding: 0 20px;
  width: 100%;
  height: 60px;
  font-size: 11px; /*ivanov тут было 14 */
  line-height: 58px;
  color: #5E676F;
  background: #fff;
  font-weight: 400;
  background: #FFFFFF;
  border: 1px solid #EFF0F0;
  border-radius: 6px; }

.select__default .jq-selectbox__select:hover {
  color: #000000; }

.select__default.jq-selectbox.disabled .jq-selectbox__select {
  opacity: 0.5; }

.select__default .jq-selectbox__select-text {
  display: block; }

.select__default.jq-selectbox .placeholder {
  color: #000; }

.select__default .jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 20px;
  width: 30px;
  height: 100%; }

.select__default .jq-selectbox__trigger-arrow {
  margin-top: -2px;
  margin-left: -4px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 4px;
  background: url(../images/sel.svg) no-repeat center center; }

.select__default .jq-selectbox__dropdown {
  padding: 20px;
  width: 100%;
  font-family: "Inter";
  font-size: 16px;
  color: #000;
  background: #FBFCFD;
  border: 1px solid #EEF2F6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-top: 2px; }

.select__default .jq-selectbox__search {
  margin: 5px; }

.select__default .jq-selectbox__search input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==") no-repeat 100% 50%;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
          box-shadow: inset 1px 1px #F1F1F1;
  color: #333; }

.select__default .jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px; }

.select__default.jq-selectbox ul {
  margin: 0;
  padding: 0; }

.select__default.jq-selectbox li {
  margin-bottom: 15px;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; }

.select__default.jq-selectbox li.selected {
  color: #343434; }

.select__default.jq-selectbox li:hover {
  color: #F26126; }

.select__default.jq-selectbox li.disabled {
  color: #AAA; }

.select__default.jq-selectbox li.optgroup {
  font-weight: bold; }

.select__default.jq-selectbox li.optgroup:hover {
  background: none;
  color: #FF4949;
  cursor: default; }

.select__default.jq-selectbox li.option {
  padding-left: 25px; }

.select__default .jq-select-multiple {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/18px Arial, sans-serif;
  color: #333;
  cursor: default; }

.select__default .jq-select-multiple.focused {
  border: 1px solid #5794BF; }

.select__default .jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.select__default .jq-select-multiple ul {
  margin: 0;
  padding: 0; }

.select__default .jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none; }

.select__default .jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0; }

.select__default .jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px; }

.select__default .jq-select-multiple li.selected {
  background: #08C;
  color: #FFF; }

.select__default .jq-select-multiple li.disabled {
  color: #AAA; }

.select__default .jq-select-multiple li.optgroup {
  font-weight: bold; }

.select__default .jq-select-multiple li.option {
  padding-left: 25px; }

.select__default .jq-select-multiple.disabled li.selected,
.select__default .jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF; }

/* Custom Selectbox */
.jq-selectbox {
  width: auto;
  display: inline-block;
  vertical-align: top;
  cursor: pointer; }

.jq-selectbox__select {
  padding: 0 15px 0 0;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  height: auto;
  line-height: 20px;
  background: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.jq-selectbox.disabled .jq-selectbox__select {
  opacity: 0.5; }

.jq-selectbox__select-text {
  display: block;
  width: auto !important;
  max-width: 80%; }

.jq-selectbox .placeholder {
  color: #000000; }

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%; }

.jq-selectbox__trigger-arrow {
  margin-top: -5px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  background: url(../images/sel.svg) no-repeat center center; }

.jq-selectbox__dropdown {
  padding: 10px;
  width: 100%;
  font-family: "Inter";
  color: #fff;
  background: #EFEFEF;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  -webkit-border-radius: 2px; }

.jq-selectbox__search {
  margin: 5px; }

.jq-selectbox__search input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==") no-repeat 100% 50%;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
          box-shadow: inset 1px 1px #F1F1F1;
  color: #333; }

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px; }

.jq-selectbox ul {
  margin: 0;
  padding: 0; }

.jq-selectbox li {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; }

.jq-selectbox li.selected {
  color: #000; }

.jq-selectbox li:hover {
  color: #FF4949; }

.jq-selectbox li.disabled {
  color: #AAA; }

.jq-selectbox li.optgroup {
  font-weight: bold; }

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default; }

.jq-selectbox li.option {
  padding-left: 25px; }

.jq-select-multiple {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/18px Arial, sans-serif;
  color: #333;
  cursor: default; }

.jq-select-multiple.focused {
  border: 1px solid #5794BF; }

.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }

.jq-select-multiple ul {
  margin: 0;
  padding: 0; }

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none; }

.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0; }

.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px; }

.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF; }

.jq-select-multiple li.disabled {
  color: #AAA; }

.jq-select-multiple li.optgroup {
  font-weight: bold; }

.jq-select-multiple li.option {
  padding-left: 25px; }

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF; }

input[type='email'].styler,
input[type='password'].styler,
input[type='search'].styler,
input[type='tel'].styler,
input[type='text'].styler,
input[type='url'].styler,
textarea.styler {
  padding: 8px 9px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333; }

input[type='search'].styler {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea.styler {
  overflow: auto; }

input[type='email'].styler:hover,
input[type='password'].styler:hover,
input[type='search'].styler:hover,
input[type='tel'].styler:hover,
input[type='text'].styler:hover,
input[type='url'].styler:hover,
textarea.styler:hover {
  border-color: #B3B3B3; }

input[type='email'].styler:hover:focus,
input[type='password'].styler:hover:focus,
input[type='search'].styler:hover:focus,
input[type='tel'].styler:hover:focus,
input[type='text'].styler:hover:focus,
input[type='url'].styler:hover:focus,
textarea.styler:hover:focus {
  border-color: #CCC;
  border-top-color: #B3B3B3;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

button.styler,
input[type='button'].styler,
input[type='submit'].styler,
input[type='reset'].styler {
  overflow: visible;
  padding: 8px 11px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  outline: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#E6E6E6));
  background: -o-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
  cursor: pointer; }

button.styler.styler::-moz-focus-inner,
input[type='button'].styler.styler::-moz-focus-inner,
input[type='submit'].styler.styler::-moz-focus-inner,
input[type='reset'].styler.styler::-moz-focus-inner {
  padding: 0;
  border: 0; }

button.styler:not([disabled]):hover,
input[type='button'].styler:not([disabled]):hover,
input[type='submit'].styler:not([disabled]):hover,
input[type='reset'].styler:not([disabled]):hover,
input[type='reset'].styler:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#F6F6F6), to(#E6E6E6));
  background: -o-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6); }

button.styler:active,
input[type='button'].styler:active,
input[type='submit'].styler:active,
input[type='reset'].styler:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
          box-shadow: inset 1px 1px 3px #DDD; }

button.styler[disabled],
input[type='button'].styler[disabled],
input[type='submit'].styler[disabled] {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888; }